body {
 font-family: Arial, sans-serif; /* Устанавливаем шрифт для тела страницы */
 line-height: 1.6; /* Устанавливаем высоту строки для удобства чтения */
 margin: 0; /* Убираем отступы по умолчанию */
 padding: 0; /* Убираем внутренние отступы по умолчанию */
 background-color: #f4f4f4; /* Устанавливаем светло-серый цвет фона */
}
header {
 background: #333; /* Темный фон для заголовка */
 color: #fff; /* Белый цвет текста */
 padding: 20px; /* Внутренние отступы */
 text-align: center; /* Центрируем текст */
}
nav ul {
 list-style: none; /* Убираем маркеры списка */
 padding: 0; /* Убираем внутренние отступы */
}
nav ul li {
 display: inline; /* Размещаем элементы списка в строку */
 margin: 0 15px; /* Отступы между элементами */
}
nav ul li a {
 color: #fff; /* Цвет ссылок белый */
 text-decoration: none; /* Убираем подчеркивание у ссылок */
}
main {
 padding: 20px; /* Внутренние отступы для основного контента */
}
section {
 margin-bottom: 20px; /* Отступы между разделами */
 padding: 10px; /* Внутренние отступы для разделов */

 background: #fff; /* Белый фон для разделов */
 border-radius: 5px; /* Скругление углов */
}
img {
 max-width: 100%; /* Ограничиваем ширину изображений */
 height: auto; /* Автоматическая высота */
}

.crocodilo:hover {
	transform: rotate(3deg) scale(1.07);
}
.tralala:hover {
	transform: rotate(3deg) scale(1.07);
}

footer {
 text-align: center; /* Центрируем текст в подвале */
 padding: 10px; /* Внутренние отступы для подвала */
 background: #333; /* Темный фон для подвала */
 color: white; /* Белый цвет текста */
}